@model PagedList.IPagedList<Portal.Models.Reports.patient_allergies>
@using PagedList.Mvc;
@using PagedList;

<div id="tbl-wrapper1">
    @*<div class="table-responsive">*@
        <table class="table" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:white;text-align:center;" id="resultContainer">
            <thead class="table-bordered" style="background-color:#73AE6A;">
                <tr>
                    <th style="text-align:center;font-weight:400;">Allergen</th>
                    <th style="text-align:center;font-weight:400;">Allergy Status</th>
                    <th style="text-align:center;font-weight:400;">Adverse Reaction</th>
                </tr>
            </thead>
            <tbody class="table-bordered" style="color:black;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.cause)</td>
                        <td>@Html.DisplayFor(model => item.reaction_cause_status)</td>
                        <td>@Html.DisplayFor(model => item.reaction)</td>
                    </tr>
                }
            </tbody>
        </table>
    @*</div>*@

    <br /><br />
    <center>
        @Html.PagedListPager(Model, page => Url.Action("OMCPAllergies", new { page, currentfilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "tbl-wrapper1"
        }))
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </center>
</div>
