@model Portal.Models.ViewModels.FileRetentionModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File Retention</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body class="background">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <center>
                    <div class="mobile-wrapper">
                        <div class="form-bottom">
                            <div class="form-box">
                                @foreach (var msg in Vereyon.Web.FlashMessage.Retrieve(Html.ViewContext.HttpContext))
                                {
                                    <div id="flashAlert" class="alert alert-danger" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:13px;text-align:center;">@msg.Message</div>
                                }
                                <span style="color:white;">Set Retention Period For</span>
                                <br /><br />
                                @Html.ValidationSummary(false)
                                <br />

                                @using (Html.BeginForm(new { returnUrl = ViewBag.returnUrl }))
                                {
                                    <div class="form-group">
                                        @Html.DropDownListFor(a => a.file_type, new SelectList(Model.file_types, "Value", "Text"), new { @class = "form-control", id = "file_type_options" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(a => a.retention_period, new { @class = "form-control", @placeholder = "RETENTION PERIOD", @Value = ""})
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-block regular-btn" type="submit">PROCEED</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </center>
                <div>
                    <br />
                    <center><a href="@Url.Action("Index", "Home")"><span class="subtext">Return to Home</span></a></center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
