@model IEnumerable<Portal.Models.IdentityDBModel_TemporaryLogin_.Users>
@using Portal.Models.IdentityDBModel_TemporaryLogin_;
@{
    ViewBag.Title = "ViewUsers";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}
<br /><br />
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBox("search", ViewBag.CurrentFilter as String, new { @placeholder = "Search User ID", @class = "form-control" })
                    <span class="input-group-btn"><button type="submit" class="btn" style="background-color:#01B06B;color:white;"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
        }
    </div>
</div>

<br />
<div class="table-responsive">
    <table class="table" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:white;text-align:center;" id="resultContainer">
        <thead class="table-bordered" style="background-color:rgba(31,150,102, 0.8);">
            <tr>
                <th style="text-align:center;font-weight:400;">User ID</th>
                <th style="text-align:center;font-weight:400;">Action</th>
            </tr>
        </thead>
        <tbody class="table-bordered" style="color:black;">
            @if (Model.Count() == 0)
            {
                <tr><td class="text-center">No User Accounts</td></tr>
            }
            @foreach (Users user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <a data-toggle="modal" href="#deleteconfirmation">
                            <span class="fa fa-trash-o"></span>
                        </a>
                        <div class="modal fade" id="deleteconfirmation" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Close"><span class="fa fa-close"></span></button>
                                        <span class="text-center subtext" style="color:#00A640;font-size:14px;">Are you sure?</span>
                                    </div>
                                    <div class="modal-body">
                                        @Html.ActionLink("Delete", "Delete", new { id = user.Id }, new { @class = "btn btn-block btn-danger" })
                                        <br />
                                        <a href="@Url.Action("Index")" class="btn btn-block btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@foreach (var message in Vereyon.Web.FlashMessage.Retrieve(Html.ViewContext.HttpContext))
{
    <script>
        $.notify({
            message: '@message.Message'
        }, {
            type: 'danger',
            showProgressbar: true,
            animate: {
                enter: 'animated fadeInRight',
                exit: 'animated fadeOutRight'
            },
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
		                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="color:black;font-size:12px;"><span class="fa fa-close"></span></button>' +
		                    '<span data-notify="message" class="notification">{2}</span>' +
		                    '<div class="progress" data-notify="progressbar">' +
			                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
		                    '</div>' +
	                  '</div>'
        });
    </script>
}



